# Dependencies
node_modules/

# Next.js build output
.next/
out/
build/

# Environment variables
.env*

# Caches and logs
.blog-cache*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
